{% extends 'base.html' %}

{% block content %}
<img src={{imagelink}}>
<h2>{{title}}</h2>
<p>{{description}}</p>
<p>{{author}}</p>
<p>Genres: {{genre}}</p>
{% if in_library == 1 %}
  <p>The book is in the library</p>
  <p>Location: {{location}}</p>
{% else %}
  <p>The book is not in the library</p>
{% endif %}
<p>Published by {{publisher}} in {{publish_year}}</p>
{% if added == 'addable' %}
  <form method='POST' id='added'>
    {% csrf_token %}
    <input type="submit" value="add" name="added">
  </form>
{% elif added == 'added' %}
  <form method='POST' id='added'>
    {% csrf_token %}
    <input type="submit" value="added" name="added" disabled>
  </form>
{% endif %}
{% endblock content %}
